@import '../../helpers/colors.scss';

.radio {
  display:      flex;
  align-items:  center;

  height: 20%;
  width:  100%;


  &__input {

    &:checked,
    &:not(:checked) {
      position: absolute;
      left:     none;
    }

    &:checked+.radio__label,
    &:not(:checked)+.radio__label {
      display:      inline-block;
      position:     relative;
      padding-left: 28px;
      line-height:  20px;
      cursor:       pointer;
    }

    &:checked+.radio__label::before,
    &:not(:checked)+.radio__label::before {
      content:          "";
      position:         absolute;
      left:             0px;
      top:              0px;
      width:            18px;
      height:           18px;
      border:           1px solid $color-border;
      background-color: $color-white;
      border-radius:    100%;
    }

    &:checked+.radio__label::after,
    &:not(:checked)+.radio__label::after {
      content:            "";
      position:           absolute;
      -webkit-transition: all 0.2s ease;
      -moz-transition:    all 0.2s ease;
      -o-transition:      all 0.2s ease;
      transition:         all 0.2s ease;

      left:             5px;
      top:              5px;
      width:            10px;
      height:           10px;
      border-radius:    100%;
      background-color: $color-default-blue;
    }

    &:not(:checked)+.radio__label::after {
      opacity: 0;
    }
    &:checked+.radio__label::after {
      opacity: 1;
    }


    &:hover {
      box-shadow: inset 0 1px 1px $color-black, 0px 0px 15px $color-default-blue;
    }
  }

  &__label {
    font-size: 12px;
  }
}