
.input {
  display: flex;
  text-align: center;
  width: 100%;
  border: 1px solid white;
  border-radius: 10px;

  &.input__label {
    color: red;
  }
  &.input__input{
    color: blue;
  }
  &_disabled {
    background: grey;
    color: black;
  }
}


