@import '../../helpers/colors.scss';

.input {
  display:        flex;
  text-align:     center;
  width:          100%;
  border:         1px solid $color-white;
  border-radius:  10px;
  gap:            10px;

  
  &__input{
    border:         1px solid $color-border;
    border-radius:  3px;

    background-color: $color-white;
    color:            $color-text;

    padding:        4px 6px;

    &:focus {
      outline:      none;
      border-color: $color-default-blue;
      box-shadow:   inset 0 1px 1px rgb($color-black, 0.075), 0 0 8px $color-default-blue;
    }
    &:hover {
      box-shadow:   inset 0 1px 1px rgb($color-black, 0.075), 0 0 8px $color-default-blue;
    }

  }
  &__label {
    display:        flex;
    align-items:    center;
    flex-direction: initial;

    font-size:      12px;
  }
  
  &_disabled {
    border-radius:  4px;
    background:   rgb(176, 176, 176);
    color:        black;

    .input__input {
      border:       1px solid white;

      background: rgb(176, 176, 176);
      color:      black;
      box-shadow:   none;
    }
  }
}


