.button {
	width: 100%;
	background: #FFFFFF;
	color: #000000;
	border: 1px solid white;
	border-radius: 10px;
	
	&_primary {
		background: #FFD700;
		color: #FFFFFF;
	}
	&_scondary {
		background: transparent;
		color: #FFD700;
	}
	&_disabled {
		background: grey;
		color: #000000;
	}
}
