.tabs {
  width: 100%;
  margin: 0;

  &__header {
    display: flex;
    justify-content: space-evenly;

    list-style: none;
    padding: 0;
    margin: 0;

    li {
      font-size: 12px;
      text-align: center;

      padding: 2px 8px;
      border-radius: 5px 5px 0 0;
      background-color: $color-border;

      &:hover {
        background-color: $color-default-lightblue;
      }

      &.selected {
        background-color: $color-default-blue;
        color: $color-white;
      }
    }
  }
}