$color-white: #ffffff;
$color-white-second: #e3e3e3;

$color-black: #000000;
$color-black-second: #0000003F;

$color-primary:  #006dcc;
$color-primary-second:  #0050e4;

$color-info:     #49afcd;
$color-info-second:     #01a1d7;

$color-warning:   #faa732;
$color-warning-second:   #f5a001;

$color-success:  #5bb75b;
$color-success-second:  #01a201;

$color-disabled: #b0b0b0;
$color-disabled-second: #c8c8c8;


$color-border: #dddddd;

$color-default-blue: #52a8ec;
$color-default-lightblue: #e1f5fe;


$color-text: #555555;