.select {
  position: relative;
  width: 100%;
  cursor: pointer;

  p { 
    margin: 0;
  }
}
.title{
  border: 1px solid grey;

}
.options {
  border: 1px solid grey;

  p:hover {
    background-color: #e7e7e7;
  }
}


// .select {

//   width: 100%;

//   -moz-appearance: none;
//   -webkit-appearance: none;
//   appearance: none;

//   border: 1px solid $color-default-blue;
//   border-radius: 6px;
//   background-color: #fff;

//   padding: 10px 35px 10px 15px;

//   outline: none;

//   cursor: pointer;

//   &::-ms-expand {
//     display: none;
//   }

//   &:focus {
//     outline: none;
//     box-shadow: 0px 0px 0px 1px $color-default-blue, 0px 0px 10px #7e9bbd;
//   }

//   &_multiple {
//     height: 100%;
//     padding: 0px;  
//   }
//   &_disabled {
//     text-shadow: 0 -1px 0 $color-black-second;
//     background-color: $color-disabled;
//   }
//   &__placeholder {
//     text-shadow: 0 -1px 0 $color-black-second;
//     background-color: $color-disabled-second;
//     border-bottom: 1px solid $color-default-blue;
//   }
// }
// option {
//   display: flex;
//   align-items: center;
// }
