
$color-white: #ffffff;
$color-white-second: rgb(227, 227, 227);

$color-black: #000000;
$color-black-second: rgb(0, 0, 0, 0.25);

$color-primary:  #006dcc;
$color-primary-second:  rgb(0, 80, 228);

$color-info:     #49afcd;
$color-info-second:     rgb(1, 161, 215);

$color-warning:   #faa732;
$color-warning-second:   rgb(245, 160, 1);

$color-success:  #5bb75b;
$color-success-second:  rgb(1, 162, 1);

$color-disabled: #363636;
$color-disabled-second: #000000;


$color-border: #dddddd;
$color-default-blue: rgba(82, 168, 236);


$color-text: #555555;