.checkbox {
  display:      flex;
  align-items: center;

  height: 20%;
  width:  100%;

  &__input {
    &:checked,
    &:not(:checked) {
      position: absolute;
      left:     none;
    }

    &:checked+.checkbox__label,
    &:not(:checked)+.checkbox__label {
      font-size:    12px;
      display:      inline-block;
      position:     relative;
      padding-left: 28px;
      line-height:  20px;
      cursor:       pointer;
    }

    &:checked+.checkbox__label::before,
    &:not(:checked)+.checkbox__label::before {
      content:          "";
      position:         absolute;
      left:             0px;
      top:              0px;
      width:            18px;
      height:           18px;
      border:           1px solid $color-border;
      background-color: $color-white;
      border-radius:    2px;
    }

    &:checked+.checkbox__label::after,
    &:not(:checked)+.checkbox__label::after {
      content:            "";
      position:           absolute;
      transition:         all 0.2s ease;

      left:               3px;
      top:                4px;
      width:              10px;
      height:             5px;
      border-radius:      1px;
      border-left:        4px solid $color-default-blue;
      border-bottom:      4px solid $color-default-blue;
      transform:          rotate(-45deg);
    }

    &:not(:checked)+.checkbox__label::after {
      opacity: 0;
    }

    &:checked+.checkbox__label::after {
      opacity: 1;
    }

    &:hover {
      box-shadow: inset 0 1px 9px $color-black, 0px 0px 15px $color-default-blue;
    }
  }
}