.table {
  &-title {
    display: flex;
    justify-content: center;

    border: 1px solid $color-border;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid transparent;

    min-width: 30px;
    width: max-content;

    padding: 2px 4px;
    margin: -1px 5%;

    font-size: 12px;
  }

  &-container {
    display: flex;
    gap: 5px;

    border: 1px solid $color-border;
    border-radius: 5px;

    padding: 5px;

    .col {
      display: flex;
      flex-direction: column;

      width: 100%;
      gap: 2px;

      div {
        display: flex;
        justify-content: center;

        &:first-child {
          color: $color-white;
          background-color: $color-default-blue;
        }

        height: 100%;
        padding: 5px 10px;

        font-size: 12px;

        border-radius: 2px;
        background-color: $color-white-second;
      }
    }
  }
}